div {
    width: 200px;
    box-sizing: content-box;
    margin: 0 0 30px 0;
    padding: 10px 20px;
    border: 2px black dotted;
}

img {
    width: 150px;
    height: 150px;
}

#img1 {
    background-color: grey;
    padding: 10px;
}

#img2 {
    border: 10px grey solid;
}