
/* DO NOT CHANGE THESE STYLES */
span
{
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width:100px;
	height:100px;
	padding: 0px;
	margin: 0px;
}

body
{
	height: 10000px; /* this is just to make sure you can scroll */
}

div
{
	height: 200px;
	border: 5px solid blue;
	margin: 10px;
}

/***************************/
/* BEGIN YOUR CHANGES HERE */
/***************************/

/* FIRST ROW : DISPLAY */
.a1 {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 20px 20px 0;
}

.b1 {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;
}

.c1 {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;
}

.d1 {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;
}

/* SECOND ROW : FLOAT */

.a2 {
	float: left;
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;
}

.b2 {
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;

}

.c2 {
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;

}

.d2 {
	width: 150px;
	height: 150px;
	margin: 0 20px 10px 0;
}

/* THIRD ROW : POSITION */

.a3 {
	width: 150px;
	height: 150px;
}

.b3 {
	width: 150px;
	height: 150px;
	position: relative;
	left: 15px;
}

.c3 {
	width: 150px;
	height: 150px;
	position: relative;
	left: 35px;
}

.d3 {
	width: 150px;
	height: 150px;
	position: relative;
	left: 55px;
}